<div class="jumbotron text-center">
    <h1> <img style="height: 80px; width: 80px;" src="http://www.w3.org/html/logo/downloads/HTML5_Logo_256.png"> HTML Elements</h1>
</div>


<div class="col-xs-12 col-sm-12 label-danger text-center">
    <h4>Groups</h4>
</div>
<div class="col-xs-2 col-sm-2" ng-repeat="(key,value) in data.HTMLGroupsObj">
    <div class="square">
        <div class="content">
            <div class="table text-center">
                <h2>{{key}}</h2>
                <span ng-repeat="tag in value">
        <a href="#html/tag/{{tag}}">&lt;{{tag}}&gt;</a>
                </span>
            </div>
        </div>
    </div>
</div>









<div class="col-xs-12 col-sm-12 label-danger text-center">
    <h4>Elements | Filter: <input ng-model="elementsFilter"></h4>
</div>
<div class="col-xs-4 col-sm-4" ng-repeat="(key, element) in data.HTMLElementsArr | filter:{tag : elementsFilter} | orderBy: 'tag'">
    <div class="square">
        <div class="content">
            <div class="table text-center">
                <a href="#html/tag/{{element.tag}}">
                    <h2>{{element.tag}}</h2>
                </a>
                <div class="hidden-xs">
                    <span>{{element.desc}}</span>
                    <hr>
                    <code>&lt;{{element.tag}}&gt;</code><code ng-show="element.child[0]!=='empty'">&lt;&#47;{{element.tag}}&gt;</code>
                    <hr>
                </div>
                <div class="hidden-xs hidden-sm">

                    <div class="col-xs-12 col-sm-12 bg-primary">
                        <div class="col-xs-6 col-sm-6 thumb text-center">Example Code</div>
                        <div class="col-xs-6 col-sm-6 thumb text-center">Rendered</div>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <textarea rows="5" class="col-xs-6 col-sm-6 thumb text-left" contenteditable="true" ng-model="element.eg"></textarea>
                        <div class="col-xs-6 col-sm-6 thumb text-center">
                            <iframe width="100%" height="100px" srcdoc="{{trust(element.eg)}}"></iframe>

                        </div>
                    </div>
                    <hr>

                    <div class="col-xs-12 col-sm-12 label-danger" ng-repeat="note in element.notes">
                        <ul>
                            <li class="text-left">{{note}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div class="jumbotron">
    <div class="container">
        <div class="col-xs-12 col-sm-12 thumb text-center">
            <h1>Elements</h1>
        </div>
        <div class="col-xs-12 col-sm-12 thumb text-justify">
            <span ng-repeat="(key, value) in elements">
        <a href="#html/tags/{{key}}"><code>{{key}}</code></a>
    </span>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <div class="col-xs-12 col-sm-12 thumb text-center">
            <h1>Attributes</h1>
            <div class="col-xs-12 col-sm-12 thumb text-justify">
                <span ng-repeat="(key, value) in globalAttrs(attributes,'no')">
        <a href="#html/attrs/{{key}}"><code>{{key}}</code></a>
            </span>
            </div>
            <div class="col-xs-12 col-sm-12 thumb text-justify">
                <h2>Global</h2>
                <span ng-repeat="(key, value) in globalAttrs(attributes,'yes')">
        <a href="#html/attrs/{{key}}"><code>{{key}}</code></a>
            </span>
            </div>




        </div>

    </div>
</div>


<div class="jumbotron">
    <div class="container">
        <div class="col-xs-12 col-sm-12 thumb text-center">
            <h1>Events</h1>
        </div>
        <div class="col-xs-12 col-sm-12 thumb text-justify">
            <span ng-repeat="(key, value) in events">
        <a href="#html/events/{{key}}"><code>{{key}}</code></a>
    </span>
        </div>
    </div>
</div>

<div id="spacer"></div>
-->
